<div>
<h1>New Form</h1>

<%= form_for @vendor_sweet do |f| %>
    <%= f.label :vendor_id%>
    <%= f.<%= collection_select :vendor_id, @vendors, :id, :name %>

    <%= f.label :sweet_id %>
    <%= f.<%= collection_select :sweet_id, @sweets, :id, :name %>

    <%= f.label :price %>
    <%= ft.integer :price %>

    <%= f.submit %>
<% end %>
</div>