
<% if flash[:my_errors] %>
<% flash[:my_errors].each do |error| %>
<%= error %>
<% end %>
<% end %>
<h1>Choose Vendor and Sweet</h1>

<%= form_for @vendorsweet do |f| %>

<%= f.label :vendor %>
<%= f.collection_select :vendor, Vendor.all, :id, :name  %>

<%= f.label :sweet %>
<%= f.collection_select :sweet, Sweet.all, :id, :name  %>
<%= f.submit %>
<% end %>